<link rel="stylesheet" href="/css/sign_up.css">
<body>
    <div class="sign-up">
        <h4> Register as new employee</h4>
        <form action="/users/create" method="post">
            <div>
            <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div>
            <input type="text" name="name" placeholder="Enter your name" required>
            </div>
            <div>
            <input type="password" name="password" placeholder="create password" required>
            </div>
            <div>
            <input type="password" name="confirm_password" placeholder="confirm your password" required>
            </div>
            <div>
            <input type="submit" value="Sign up">
            </div>
            <a href="/users/signIn">Already an employee? Sign in</a>
        </form>
    </div>  
</body>
